---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Junior data scientist with a passion for all things machine learning. I have
    a strong interest in applying data science methods to practical problems in
    the real world, as showcased through my research, work at KPMG, and in
    personal projects. Skilled in computer vision, NLP, cloud-based machine
    learning, MLOps, and data analytics, I am eager to utilize my skills to
    solve industry challenges and push innovation.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Data Science"
      subtitle="2023 to 2024 at The University of Auckland, Auckland, New Zealand"
    />
    <TimeLineElement
      title="Conjoint BCom/BSc: Finance, Economics and Statistics"
      subtitle="2019 to 2023 at The University of Auckland, Auckland, New Zealand"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Junior Data Scientist at KPMG"
      subtitle="From Nov 2023 to Present at KPMG, Auckland, New Zealand"
    >
      • Fine-tuned and deployed a large language model for expenditure
      classification using Azure ML pipelines.<br />
      • Created custom image quality models and an eye gaze detection system used
      to scan over 5 million images.<br />
      • Built an object detection model for waste sorting with MLOps pipelines in
      Azure ML.<br />
      • Developed a product catalogue tool using Retrieval-Augmented Generation (RAG).<br
      />
      • Used PySpark and Databricks to analyze power infrastructure operational data.
    </TimeLineElement>
    <TimeLineElement
      title="Graduate Teaching Assistant"
      subtitle="From Feb 2023 to Nov 2023 at University of Auckland, Auckland, New Zealand"
    >
      • Ran computer science labs and gave one-on-one tutoring.<br />
      • Gained experience in communication, teaching, and working with diverse student
      backgrounds.
    </TimeLineElement>
    <TimeLineElement
      title="Chilled/Frozen Department Assistant"
      subtitle="From Feb 2019 to Feb 2023 at New World New Lynn, Auckland, New Zealand"
    >
      • Frequently nominated for employee of the month.<br />
      • Developed time management, teamwork, and delegation skills in a busy environment.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <b>Hallett, S.</b>, Heidari, S., Rogers, M., & Delmas, P. (2024). <i
        >Vote-Based Line Aggregation for Sports Field Registration</i
      >. 39th Int. Conf. on Image and Vision Computing New Zealand (IVCNZ).
      <ul>
        <li>&emsp;<b>- Achieved Mt Cook award for highest rated paper</b>.</li>
      </ul>
    </li>
    <li>
      Wang, J., Wang, R., Gendron, G., Heidari, S., Soriano Valdez, D. A., Cruz,
      G. A. Z., <b>Hallett, S.</b>, et al. (2024). <i
        >Causal Behaviour Modelling for Player Action Prediction in Rugby League
        Using Graph Neural Networks</i
      >. 39th IVCNZ.
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://learn.microsoft.com/en-us/users/stephenhallett-1997/credentials/ad3b48634411551c?ref=https%3A%2F%2Fwww.linkedin.com%2F"
        target="_blank">Microsoft Certified: Azure Data Scientist Associate</a
      >
    </li>
    <li>
      <a
        href="https://learn.microsoft.com/en-us/users/stephenhallett-1997/credentials/5e08bd103bda92b3?ref=https%3A%2F%2Fwww.linkedin.com%2F"
        target="_blank">Microsoft Certified: Azure Fundamentals</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Software</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6 mb-10">
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>MATLAB</li>
    <li>HTML/CSS/JavaScript</li>
    <li>NodeJS</li>
    <li>Microsoft Azure</li>
    <li>Azure ML</li>
    <li>Terraform</li>
    <li>Git</li>
    <li>Linux/Unix</li>
    <li>Nix</li>
    <li>Docker</li>
    <li>FastAPI</li>
    <li>PySpark</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6 mb-10">
    <li>Leadership</li>
    <li>Fast learner</li>
    <li>Strong people skills</li>
    <li>Problem solving</li>
    <li>Patience and dedication</li>
    <li>Collaboration</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Interests</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Electronics</li>
    <li>Investing</li>
    <li>Bouldering</li>
    <li>Boxing</li>
    <li>3D printing</li>
    <li>Programming</li>
    <li>IoT</li>
    <li>Homelab</li>
  </ul>
</BaseLayout>
