---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services</div>
  </div>

  <HorizontalCard
    title="ShoppingList"
    img="/services/shoppinglist.webp"
    desc="Website to create and share shopping lists with whoever you need"
    badge=""
    url="https://shoppinglist.stephenhallett.nz"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Streamlit Generator"
    img="/services/streamlit_generator.webp"
    desc="Service to recursively generate streamlit code based off of a draw.io wireframe."
    url="https://st-generator.streamlit.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="UoA Course Sentiment Analysis"
    img="/services/sentiment_analysis.webp"
    desc="A project I did in 2023 which estimates and compares the student sentiment towards different papers at the University of Auckland based on the messages referencing them on the University of Auckland SubReddit. All stats on the page are based on data up to March 2023."
    url="https://shallett.shinyapps.io/uoa_sentiment/"
    badge=""
  />
</BaseLayout>
